body{
    background-color: black;
    color: aliceblue;
}

#content{
    display: flex;
    height: 95vh;
    width: 95vw;
    justify-content: center;
    position: center;
    border: 0px solid white;
}

#picture{
    background-color: white;
    background-position: center;
    position: left;
    width: 40vw;
    height: 95vh;
    display: flex;
}

#logobar{
    position: center;
    background-color: black;
    opacity:0.5;
    border: 0px solid black;
    width: 40vw;
    height: 60px;
}

#logo{
    position: center;


}