body{
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#content{
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
    height: 95vh;
    width: 95vw;
    justify-content: center;
    border: 1px lightcoral;
    margin-right: 0px;
    margin-left: 0px;
}

#picture{
    border: 1px lightblue;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    background-image: url(background.jpg);
    background-position: center;
    width: 39vw;
    height: 94vh;
    justify-content: center;
}

#logobar{
    display:flex;
    align-items:center;
    align-content:center;
    justify-content:center;
    flex-flow:column nowrap;
    position: top;
    background-color: black;
    opacity:0.8;
    width: 40vw;
    height: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 60%;
}


#right{
    display: flex;
    flex-flow: column nowrap;
    background-color: #581845;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 94vh;
    width: 54vw;
    margin-top: 2.5px;
    margin-right: 2px;
}

#top{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: justify;
    background-color: black;
    width: 54vw;
    height: 30vh;
}

#forminput{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#title, #para, .input, .sbtn, .haveacc{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.input{
    color: #1DC103;
    align-content: space-around;
}

